<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FesaJustificacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="FESAJustificacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DB_FESA_JUST_PRINTConnectionString" connectionString="Data Source=localhost;Initial Catalog=DB_FESA_JUST_PRINT;Persist Security Info=True;User ID=sa;Password=Manager123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="nombre_instu" value="FESAECUADOR JUSTIFICACIÓN DE IMPRESIONES" />
    <add key="saludoBienvenida" value="Bienvenido(a) " />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="errorConsulta" value="-99" />
    <add key="errorOrdenRepetido" value="-98" />
    <add key="numMaximoFormatoImpresion" value="4" />
    <add key="impresionEnCodBarras" value="CB" />
    <add key="impresionEnCodQR" value="CQR" />
    <add key="numMaximoMatriz" value="20" />
    <add key="formatoFecha" value="yyyy/MM/dd" />
    <add key="estadoOrdenAsignada" value="1" />
    <add key="estadoOrdenIngresada" value="1" />
    <add key="estadoOrdenDescargando" value="2" />
    <add key="estadoOrdenPasoInventario" value="3" />
    <add key="estadoOrdenTransporte" value="4" />
    <add key="estadoOrdenFinalizada" value="5" />
    <add key="estadoOrdenParaNeteo" value="6" />
    <add key="estadoOrdenPrepIngresada" value="1" />
    <add key="estadoOrdenPrepPreparando" value="4" />
    <add key="estadoOrdenPreFinalizado" value="5" />
    <add key="tipoTareaOrdenPreparacion" value="3" />
    <add key="estadoDespachoDespachando" value="3" />
    <add key="estadoDespachoFinalizado" value="4" />
    <add key="estadoDespachoCreada" value="1" />
    <add key="estadoDespachoDespachando" value="3" />
    <add key="estadoDespachoFinalizado" value="4" />
    <add key="colorSeleccion" value="#d9edf7" />
    <add key="colorError" value="lightcoral" />
    <add key="colorTrasparente" value="transparent" />
    <add key="url" value="http://localhost:50100" />
    <add key="urlPublico" value="http://localhost:50100" />
    <add key="estadoTomaInvenCreado" value="1" />
    <add key="tipoTareaOrdenInvnetario" value="5" />
    <add key="tipoTareaComun" value="6" />
    <add key="estadoTomaInvenCancelada" value="4" />
    <add key="estadoTomaInvenFinalizada" value="3" />
    <add key="inicialInventario" value="TINV-" />
    <add key="tareaDespacho" value="4" />
    <add key="estadoOrdenPrepPendiente" value="6" />
    <add key="estadoOrdenPrepCancelada" value="7" />
    <add key="version" value="V1.0" />
    <add key="fecha" value="16/06/2021" />
    <add key="prodHeader1" value="Cód. Producto Unidad" />
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <!--Ean13-->
    <add key="prodHeader2" value="Cód. Producto Caja" />
    <!--Ean14-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <FesaJustificacion.Properties.Settings>
      <setting name="FesaJustificacion_WS_Template_WS_Template" serializeAs="String">
        <value>http://localhost:52164/WS_Template.asmx</value>
      </setting>
    </FesaJustificacion.Properties.Settings>
    <FESAJustificacion.Properties.Settings>
      <setting name="FESAJustificacion_WS_Template_WS_Template" serializeAs="String">
        <value>http://localhost:52164/WS_Template.asmx</value>
      </setting>
    </FESAJustificacion.Properties.Settings>
  </applicationSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS_TemplateSoap" />
        <binding name="WS_TemplateSoap1" />
        <binding name="WS_TemplateSoap2" />
        <binding name="WS_TemplateSoap3" />
        <binding name="WS_TemplateSoap4" />
        <binding name="WS_TemplateSoap5" />
        <binding name="WS_TemplateSoap6" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52164/WS_Template.asmx" binding="basicHttpBinding" bindingConfiguration="WS_TemplateSoap" contract="WS_Template.WS_TemplateSoap" name="WS_TemplateSoap" />
      <endpoint address="http://localhost:52164/WS_Template.asmx" binding="basicHttpBinding" bindingConfiguration="WS_TemplateSoap1" contract="WS_Template.WS_TemplateSoap" name="WS_TemplateSoap1" />
      <endpoint address="http://localhost:52164/WS_Template.asmx" binding="basicHttpBinding" bindingConfiguration="WS_TemplateSoap2" contract="WS_Template.WS_TemplateSoap" name="WS_TemplateSoap2" />
      <endpoint address="http://localhost:52164/WS_Template.asmx" binding="basicHttpBinding" bindingConfiguration="WS_TemplateSoap3" contract="WS_Template.WS_TemplateSoap" name="WS_TemplateSoap3" />
      <endpoint address="http://localhost:52164/WS_Template.asmx" binding="basicHttpBinding" bindingConfiguration="WS_TemplateSoap4" contract="WS_Template_reference.WS_TemplateSoap" name="WS_TemplateSoap4" />
      <endpoint address="http://localhost:52164/WS_Template.asmx" binding="basicHttpBinding" bindingConfiguration="WS_TemplateSoap5" contract="ServiceReference1.WS_TemplateSoap" name="WS_TemplateSoap5" />
      <endpoint address="http://localhost:52164/WS_Template.asmx" binding="basicHttpBinding" bindingConfiguration="WS_TemplateSoap6" contract="WS_Template.WS_TemplateSoap" name="WS_TemplateSoap6" />
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: B6FC2488-78BA-404B-9587-3E47201D63A5-->